<main class="2xl:mx-96 xl:mx-72 lg:mx-36 m-3 my-6">
  <h1 class="text-indigo-600 text-4xl my-12">Signed in as, <%= current_user.email %></h1>
  
  <% if @recent_report.present? %>
    <section class="shadow-md rounded-sm bg-white flex flex-col space-y-12">
      <%# Top %>
      <div class="flex flex-row justify-between pt-10 px-10">
        <div class="flex flex-row items-center space-x-4">
          <div class="bg-yellow-400 rounded-full h-12 w-12 flex items-center justify-center">
            <i class="fas fa-credit-card text-2xl text-white"></i>
          </div>
          <div>
            <h3 class="text-lg md:text-2xl text-gray-800 font-bold">This Month</h3>
            <%= link_to "Transactions", transactions_path, class: "link" %>
          </div>
        </div>
        <div class="flex flex-col items-end">
          <h2 class="text-2xl md:text-4xl text-gray-800 font-bold"><%= number_to_currency(@recent_report.total_amount) %></h2>
          <p class="text-sm text-gray-500 flex items-center">
            <i class="fas fa-circle text-indigo-600 text-xs mr-2"></i> 
            Current Spending
          </p>
        </div>
      </div>
      <%# Progress bar %>
      <% if @recent_report.budget.present? %>
        <div class="px-10">
          <progress value="<%= @recent_report.total_amount %>" max="<%= @recent_report.budget.amount %>" class="w-full <%= 'overbudget' if @is_overbudget %>">
            <%= @recent_report.total_amount %>
          </progress>
        </div>
      <% end %>
      <%# Three stats %>
      <div class="flex flex-row flex-wrap justify-between space-x-6 px-10">
        <div class="flex flex-col flex-1 border-r-2 border-gray-300 space-y-2 p-2">
          <p class="text-base text-gray-500"><i class="fas fa-circle text-sm text-indigo-600"></i> Spent</p>
          <h2 class="text-lg md:text-3xl text-gray-800 font-semibold"><%= number_to_currency(@recent_report.total_amount) %></h2>
        </div>
        <% if @recent_report.budget.blank? %>
          <div class="flex items-center">
            <%= link_to '+ Budget for this month', new_budget_path, class: "link hover:bg-gray-100 rounded-2xl p-2" %>
          </div>
        <% else %>
          <div class="flex flex-col flex-1 border-r-2 border-gray-300 space-y-2 p-2">
            <p class="text-base text-gray-500">Remaining</p>
            <h2 class="text-lg md:text-3xl text-gray-800 font-semibold"><%= number_to_currency(@spent_budget_difference) %></h2>
          </div>
          <%= link_to edit_budget_path(@recent_report.budget), class: "flex-1" do %>
            <div class="flex flex-col space-y-2 hover:bg-gray-100 rounded-2xl p-2">
              <p class="text-base text-gray-500">Budget</p>
              <h2 class="text-lg md:text-3xl text-gray-800 font-semibold"><%= number_to_currency(@recent_report.budget.amount) %></h2>
            </div>
          <% end %>
        <% end %>
      </div>
      <hr>
      <%# Bottom %>
      <div class="pb-10 px-10">
        <%= link_to "Full Report", report_path(@recent_report.id), class: "link float-right" %>
        <%# <%= link_to "Show Reports", reports_path, class: "link float-right" %>
      </div>
    </section>  
  <% else %>
    <h2 class="text-indigo-500 text-3xl mt-24 text-center">No report for <%= number_to_month_name(@month) %> yet.</h2>
    <h3 class="text-gray-600 text-2xl my-6 text-center">Begin by adding some <%= link_to 'transactions', transactions_path, class: "link" %>!</h3>
  <% end %>
  
  
</main>
