<%= form_for @transaction do |form| %>
  <div class="space-y-8">
    <div class="form-group">
      <%= form.label :amount, class: "block text-sm font-medium text-gray-700" %>
      <div class="mt-1 relative rounded-md shadow-sm border-indigo-500">
        <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
          <span class="text-gray-500 sm:text-sm">
            $
          </span>
        </div>
        <%= form.number_field :amount, 
            placeholder: "0.00",
            value: number_to_currency(form.object.amount.to_f, delimiter: '', unit: '$'), 
            step: :any,
            min: 0,
            class: "focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-7 pr-12 sm:text-sm border-gray-300 rounded-md"  
        %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :transaction_category_id %>
      <%= collection_select(
            :transaction, 
            :transaction_category_id, 
            TransactionCategory.all, 
            :id, 
            :name, 
            {:prompt => false}, 
            {class: "mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"}
          ) 
      %>
    </div>

    <div class="form-group">
      <%= form.label :note %>
      <%= form.text_area :note, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border-gray-300 rounded-md" %>
    </div>
  
    <%= form.submit class: "btn w-full" %>
  </div>
<% end %>