<%# <div class="container mx-auto px-4"> %>
<div class="md:container md:mx-auto my-6">
  <h1 class="text-4xl text-center my-6">Transactions</h1>

  <div class="flex justify-center">
    <%= link_to "+ Transaction", new_transaction_path, class: "group relative w-full flex justify-center py-2 px-4 mb-6 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
  </div>

  <ul class="transactions flex flex-col justify-center space-y-6">
    <% @transactions.each do |transaction| %>
      <%= link_to transaction_path(transaction) do %>
        <li class="transaction flex flex-row justify-evenly items-center border rounded-xl p-5 border-indigo-200 hover:border-indigo-500">
          <div class="transaction-category flex-1">
            <span class="bg-blue-300 rounded-full py-3 px-6">
              <%= transaction.transaction_category.name %>
            </span>
          </div>

          <div class="transaction-note flex-1">
            <%= truncate(transaction.note, length: 150) %>
          </div>

          <div class="transaction-amount flex-1">
            -<%= number_to_currency(transaction.amount) %>
          </div>

          <div class="transaction-date">
            <%= transaction.date_formatted %>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>