<div class="container-narrow">
  <h1><%= @transaction.transaction_category.name %> on <%= @transaction.date_formatted %></h1>
  
  <p><%= @transaction.note %></p>
  <p><%= number_to_currency(@transaction.amount) %></p>

  <div class="btn-group" role="group">
    <%= link_to "Back", transactions_path, class: "btn btn-secondary" %>
    <%= link_to "Edit", edit_transaction_path(@transaction), class: "btn btn-info" %>
    <%= link_to "Delete", transaction_path(@transaction), data: {
      confirm: "Are you sure you want to remove this transaction?",
    }, method: :delete, class: "btn btn-danger" %>
  </div>
</div>