<div class="container-regular mt-6 mb-6">
  <%= render partial: 'shared/page_header', :locals => {:title => "Year to Date Report", :icon => "fas fa-file-alt mr-1", :subtitle => @current_year} %>
    
  <main class="grid grid-cols-1 md:grid-cols-2 gap-9">
    <div class="recent-report flex flex-col space-y-5 mt-7">
      <h2 class="text-2xl text-gray-700">
        Total Spending in <%= @current_year %>: 
        <span class="text-indigo-600">
          <%= number_to_currency(@total_spent_year) %>
        </span>
      </h2>
      <% if @transaction_categories.length > 0 %>
        <%= render partial: 'shared/category_spending_table', :locals => {:categories => @transaction_categories} %>
      <% else %>
        <div class="text-center">
          <h1 class="text-2xl">No Spending yet!</h1>
          <h2 class="text-xl text-gray-500">Start by adding transactions.</h2>
        </div>
      <% end %>
    </div>
    
    
    <div class="reports-lists flex flex-col mt-7">

      <div class="current-report mb-12 space-y-5">
        <h2 class="text-2xl text-indigo-600">Current Monthly Report</h2>
        <% if @recent_report %>
          <ul class="">
            <li class="">
              <%= link_to report_path(@recent_report), class: "w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-200 md:py-4 md:text-lg md:px-10" do %>
                <%= @recent_report %>
              <% end %>
            </li> 
          </ul>
        <% else %>
          <div class="text-center">
            <h1 class="text-2xl">No Recent Report for this month yet!</h1>
            <h2 class="text-xl text-gray-500">Start by adding transactions.</h2>
          </div>
        <% end %>
      </div>

      <div class="monthly-reports space-y-5">
        <% if @reports.length > 0 %>
          <h2 class="text-2xl text-indigo-600">Previous Monthly Reports</h2>
          <ul class="space-y-3">
            <% @reports.each do |report|  %>
              <li class="">
                <%= link_to report_path(report), class: "w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-200 md:py-4 md:text-lg md:px-10" do %>
                  <%= report %>
                <% end %>
              </li>  
            <% end %>
            <li class="w-full flex items-center justify-center px-8 py-3 md:py-4 md:text-lg md:px-10">
              <%= link_to months_reports_path, class: "flex items-center font-medium text-sm text-indigo-500 hover:text-indigo-700 transform hover:-translate-y-1 hover:scale-120" do %>
                All Monthly Reports <i class="fas fa-angle-right ml-1"></i>
              <% end %>
            </li>  
          </ul>
        <% end %>
      </div>
      <div class="current-report space-y-5">
        <% if @year_reports.length > 0 %>
          <h2 class="text-2xl text-indigo-600">Yearly Reports</h2>
          <ul class="space-y-3">
            <% @year_reports.each do |year|  %>
              <li class="">
                <%= link_to year_reports_path(year), class: "w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-200 md:py-4 md:text-lg md:px-10" do %>
                  <%= year %>
                <% end %>
              </li>  
            <% end %>
            <li class="w-full flex items-center justify-center px-8 py-3 md:py-4 md:text-lg md:px-10">
              <%= link_to years_reports_path, class: "flex items-center font-medium text-sm text-indigo-500 hover:text-indigo-700 transform hover:-translate-y-1 hover:scale-120" do %>
                All Yearly Reports <i class="fas fa-angle-right ml-1"></i>
              <% end %>
            </li>  
          </ul>
        <% end %>
      </div>
      
    </div>
  </main>
  
</div>

<%# <%= @recent_report.to_json %>
 <%# <%= @reports.to_json %> 
<%# <%= @transaction_categories.to_json %>