<div class="container-regular space-y-6">
  <%= render partial: 'shared/page_header', :locals => {:title => "All Monthly Reports", :icon => "fas fa-clipboard-list mr-1", :subtitle => ""} %>

  <table class="table-fixed border-separate border-2 rounded-md border-indigo-200 p-3 w-full">
    <thead>
      <tr class="text-indigo-500">
        <th class="p-3 text-left text-lg border-b border-indigo-200">Date</th>
        <th class="p-3 text-left text-lg border-b border-indigo-200">Spent</th>
        <th class="p-3 text-left text-lg border-b border-indigo-200">Budget</th>
        <th class="p-3 text-left text-lg border-b border-indigo-200">Status</th>
        <th class="p-3 text-center text-lg border-b border-indigo-200">Report</th>
      </tr>
    </thead>
    <tbody>
      <% @reports.each do |report| %>
        <tr class="">
          <td class="py-5 px-3 text-indigo-700">
            <%= report %>
          </td>
          <td class="py-5 px-3 text-gray-700">
            <%= number_to_currency(report.total_amount) %>
          </td>
          <td class="py-5 px-3 text-gray-700">
            <%= number_to_currency(report&.budget&.amount) || "<span class='text-4xl text-indigo-600 ml-7'>-</span>".html_safe %>
          </td>
          <td class="py-5 px-3 text-gray-700">
            <% if report&.budget %>
              <% if report.budget.amount > report.total_amount %>
                <i class="fas fa-chevron-down text-green-500  ml-4"></i>
              <% elsif report.budget.amount == report.total_amount %>
                <i class="fas fa-equals text-blue-500 ml-4"></i>
              <% elsif report.budget.amount < report.total_amount %>
                <i class="fas fa-chevron-up text-red-500 ml-4"></i>
              <% end %>
            <% else %>
              <span class='text-4xl text-indigo-600 ml-4'>-</span>
            <% end %>
          </td>
          <td class="text-center">
            <%= link_to report_path(report), class: "btn sm:rounded-lg" do %> 
             <i class="fas fa-file-invoice sm:mr-1"></i> <span class="hidden sm:inline">Report</span>
            <% end %>
          </td> 
        </tr>
      <% end %> 
    </tbody>
  </table>

  <div class="text-center">
    <%== pagy_nav(@pagy) %>
  </div>

  <div class="text-center">
    <%== pagy_info(@pagy) %>
  </div>
</div>