<div class="container-regular mt-6 mb-6">
 
  <%= link_to reports_path, class: "link text-2xl flex items-center mb-6" do %>
    <i class="fas fa-angle-left mr-1"></i> Reports
  <% end %>
 
  <header class="bg-indigo-500 text-white shadow-lg rounded-2xl p-8">
    <h1 class="text-4xl flex flex-wrap flex-col justify-between">
      <%= @report %>
      <span class="text-2xl block">
        Report
      </span>
    </h1>
  </header>

  <main class="grid grid-cols-1 lg:grid-cols-2 gap-4">
    <div class="report flex flex-col space-y-5 mt-7">
      <h2 class="text-2xl text-gray-700">
        Total Spending: 
        <span class="text-indigo-600">
          <%= number_to_currency(@report.total_amount) %>
        </span> 
        <% if @report&.budget %>
          /
          <span><%= @report.budget.amount %></span>
        <% end %>
      </h2>
      <%= render partial: 'shared/category_spending_table', :locals => {:categories => @transaction_categories} %>
    </div>
    <div class="transactions-list flex flex-col space-y-5 mt-7">
      <h2 class="text-2xl text-indigo-600">Transactions in <%= @report.month_name %></h2>
      <ul class="transactions flex flex-col justify-between space-y-6">
        <% @transactions.each do |transaction| %>
          <%= link_to transaction_path(transaction) do %>
            <li class="transaction grid grid-cols-3 md:grid-cols-4 items-center gap-2 border-2 rounded-xl p-5 border-indigo-200 hover:border-indigo-500">
              <div class="transaction-category">
                <%= render partial: 'shared/category_badge', :locals => {:category_name => transaction.transaction_category.name} %>
              </div>

              <div class="transaction-amount">
                -<%= number_to_currency(transaction.amount) %>
              </div>

              <div class="transaction-date">
                <%= transaction.date_formatted %>
              </div>

              <div class="transaction-note text-sm text-gray-600 truncate col-span-4 md:col-span-1">
                <%= transaction.note %>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </main>
</div>