<div class="container-regular mb-6">
 
  <%= link_to reports_path, class: "link text-2xl flex items-center mt-6 mb-6" do %>
    <i class="fas fa-angle-left mr-1"></i> Reports
  <% end %>

  <%= render partial: 'shared/page_header', :locals => {:title => "#{@report}", :icon => "fas fa-file-alt mr-1", :subtitle => "Report"} %>

  <main class="grid grid-cols-1 gap-20 mt-6">
    <%# Three stats %>
    <section class="flex flex-row flex-wrap justify-between space-x-6">
      <div class="flex flex-col flex-1 border-r-2 border-gray-300 space-y-2 p-2">
        <p class="text-base text-gray-500"><i class="fas fa-circle text-sm text-indigo-600"></i> Spent</p>
        <h2 class="text-lg md:text-3xl text-gray-800 font-semibold"><%= number_to_currency(@report.total_amount) %></h2>
      </div>
      <% if @report.budget.blank? %>
        <%= link_to '+ Budget for this month', new_budget_path, class: "hover:bg-gray-100 rounded-2xl p-2" %>
      <% else %>
        <div class="flex flex-col flex-1 border-r-2 border-gray-300 space-y-2 p-2">
          <p class="text-base text-gray-500">Remaining</p>
          <h2 class="text-lg md:text-3xl text-gray-800 font-semibold"><%= number_to_currency(@spent_budget_difference) %></h2>
        </div>
        <%= link_to edit_budget_path(@report.budget), class: "flex-1" do %>
          <div class="flex flex-col space-y-2 hover:bg-gray-100 rounded-2xl p-2">
            <p class="text-base text-gray-500">Budget</p>
            <h2 class="text-lg md:text-3xl text-gray-800 font-semibold"><%= number_to_currency(@report.budget.amount) %></h2>
          </div>
        <% end %>
      <% end %>
    </section>
    <%# progress bar %>
    <% if @report.budget.present? %>
      <section class="">
        <progress value="<%= @report.total_amount %>" max="<%= @report.budget.amount %>" class="w-full <%= 'overbudget' if @is_overbudget %>">
          <%= @report.total_amount %>
        </progress>
      </section>
    <% end %>
    <%# transaction categories %>
    <% if @transaction_categories.length > 0 %>
      <section class="grid grid-cols-1 xl:grid-cols-2 gap-9 place-items-center">
        <h2 class="text-2xl text-indigo-700 mb-4 col-span-2">Spending by Category</h2>
        <div class="col-span-2 xl:col-span-1 xl:mr-24">
          <%= pie_chart @transaction_categories, donut: true, prefix: "$", legend: false, colors: @transaction_category_colors %>
        </div>
        <div class="col-span-2 xl:col-span-1 w-full">
          <%= render partial: 'shared/category_spending_list', :locals => { :categories => @transaction_categories, :height => 26 }%>
        </div>
      </section>
    <% else %>
      <div class="text-center pt-12">
        <h3 class="text-2xl text-indigo-500">No Spending yet!</h3>
        <h4 class="text-xl text-gray-500">Start by adding transactions.</h4>
      </div>
    <% end %>
    <%# transaction list %>
    <section class="transactions-list flex flex-col space-y-9 place-items-center">
      <h2 class="text-2xl text-indigo-700">Transactions in <%= @report.month_name %></h2>
      <ul class="transactions flex flex-col justify-between space-y-6">
        <% @transactions.each do |transaction| %>
          <%= link_to transaction_path(transaction) do %>
            <li class="transaction grid grid-cols-3 md:grid-cols-4 items-center gap-2 border-2 rounded-xl p-5 border-indigo-200 hover:border-indigo-500">
              <div class="transaction-category">
                <%= render partial: 'shared/category_badge', :locals => {:category_name => transaction.transaction_category.name} %>
              </div>

              <div class="transaction-amount">
                -<%= number_to_currency(transaction.amount) %>
              </div>

              <div class="transaction-date">
                <%= transaction.date_formatted %>
              </div>

              <div class="transaction-note text-sm text-gray-600 truncate col-span-4 md:col-span-1">
                <%= transaction.note %>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
      <div class="text-center">
        <%== pagy_nav(@transactions_pagy) %>
      </div>
    </section>

  </main>
</div>